<div class="card mt-5 bg-dark"><!-- Adicionar mais pessoas com essa tag-->
  <div class="card-body bg-dark text-light">
    <h5 class="card-title text-light">João Felipe Louzada</h5>
    <h6 class="card-subtitle mb-2 text-muted">CPF: 037.787.232-60</h6>
    <p>DN: 22/01/1985 | E-mail: clifton_hyatt@koss.biz | s/n Viela Theo Modesto - Cachoeira dos Índios - Tocantins</p>
    <div class="row">


      <div class="col-sm-6 mb-3 mb-sm-0 mt-4"> <!-- Adicionar mais exames com essa na class row-->
        <div class="card bg-secondary text-light">
          <div class="card-body">
            <h5 class="card-title text-light">Exame FXVA74 - 03/05/2021</h5>
            <p class="card-text">
              Médico: Oliver Palmeira | CRM: B000AR99QO - MS <br>
              E-mail: lawana.erdman@waters.info
            </p>
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>Tipo de Exame</th>
                  <th>Valores Limite</th>
                  <th>Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Hemácias</td>
                  <td>45-52</td>
                  <td>58</td>
                </tr>
              </tbody>
            </table>
            <button href="#" type="button" class="btn btn-outline-light">Detalhes</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>