<h1>Something at some point</h1>

Aqui devo fazer o seguinte, manipular o endpoint de tests para retornar as informações já bonitinhas, em um array de tokens, com os diferentes tipos para apenas
iterar sobre esse array lá no html do front end

E nesse aqui consumir desse endpoint e mostrar as coisas.