development:
  database: labs_db
  username: rebase_labs
  password: labs_123
  host: localhost
  port: 5432
  table1: exams

test:
  database: test_db
  username: tester
  password: test_123
  host: db_test
  port: 5432
  table1: exams

container:
  database: labs_db
  username: rebase_labs
  password: labs_123
  host: db
  port: 5432
  table1: exams